.ant-form-item-label > label {
  width: 75px;
}
.ant-input-number {
  width: 100%;
}

.table {
  width: 50vw;
}
.selected {
  /* background-color: rgba(141,154,187, 0.68); */
  background-color: rgb(227,228,231);
}
// .ant-table-row:hover .ant-table-row-level-0:hover .selected:hover {
//   background-color: red !important;
// } 